* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Notosans-bold;
  src: url(../fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
  font-family: Notosans-italic;
  src: url(../fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
  font-family: Notosans-semibold;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}

@font-face {
  font-family: Notosans-regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Notosans-regular;
  color: #000000;
}

.btn-primary {
  background-color: #1677ff !important;
}

.btn-primary:hover {
  background-color: #4096ff !important;
}
